/* global settings */

*{
    margin: 0;
    padding: 0;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* shared styles */
.flex {
    display: flex;
}

.set-width {
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background: linear-gradient(32deg, 
        #F7E93F 15%, #FB09B4 51%, #9100F8 100%);  
    border-radius: 100px;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    border: none;
    font-weight: 600;
    display: inline-flex;
        gap: 5px;

}
.bg{
    background-color: #1A0B2E;
    

}
.second-bg{
    background-color: #230E3D;
}
.noraml-font{
    font-size: 1rem;
    font-weight: 500;
}
.noraml-font-60{
    font-size: 1rem;
    font-weight: 500;
    opacity: 60%;
    color: white;
}
.green-font{
    font-size: 1rem;
    color:#00FF88 ;
    font-weight: 600;
}
.headings{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
}

.medium-headings{
    font-size: 2rem;
        font-weight: 700;
        color: white;
        
}
.regular-font{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    opacity: 60%;
    line-height: 1.5rem;
}

.regular-font-80{
    font-size: 1rem;
        font-weight: 400;
        color: white;
        opacity: 80%;
        line-height: 1.5rem;
}
.padd {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 120px;
}
/* .set-border {
    border: yellow solid 2px;
} */

.secondpadd{
    padding-left: 200px;
        padding-right: 200px;
        padding-top: 120px;
        /* padding-bottom: 120px; */
       
}

.thirdpadd{
    padding-left: 200px;
        padding-right: 200px;
        margin-top: 40px;
        padding-bottom: 120px;
        
}

.t-heading{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.p-gap{
    margin-top: 16px;
    margin-bottom: 16px;
}
/* individual styles */

.first-section{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 16px;
        padding-bottom: 16px;
   
}
.navigation {
    /* border: 2px yellow solid; */
    justify-content: space-between;
    align-items: center;
    
    /* gap: 314px;
    margin-left: 200px;
    margin-right: 200px; */
}


.nchile-2 ul{
    list-style-type: none;
    
}
.nchile-2 ul li a{
    text-decoration: none;
    color: white;
    
}
.nchild-4{
    /* visibility: hidden; */
    display: none;
}
.gp {
    gap: 8px;
}

.list   {
    gap: 32px;
}
.btn-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.second-section {
    background-image: url(../assets/hero-bg.png);
        
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding: 101px 520px 120px 525px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.icon{
    position: relative;
    
}
.microphone{
    position: absolute;
   top: 50%;
        left: 50%;
  transform: translate(-50%, -50%);
}

.new{
    position: absolute;
    /* color: white; */
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    top: 20px;
    right:23px;
}
.circle {

    top: 50%;
        left: 50%;
}
.singing-card {
    /* border: 2px red solid; */
    /* height: 555px; */
    /* width: 558px; */
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin: 101px 525px 101px 520px; */

}
.singcard-des{
    margin-top: 40px;
    margin-bottom: 8px;
}
.singcard-des p{
    margin-top: 8px;
    margin-bottom: 24px;
}
.des-b{
    display: inline-flex;
    gap: 8px;
}
.btn-2 {
    border:#00FF88 solid 2px ;
    background-color: transparent;
    color: #00FF88;
    border-radius: 100px;
    padding: 10px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.about-section{
        /* padding: 50px 200px 120px 200px; */
        /* padding-top: 50px;
            padding-bottom: 120px; */
        
}

.about {
    text-align: center;
}
.about-p {
    line-height: 20px;
    
   
}
.p-gap-1{
    margin-top: 16px;
    margin-bottom: 32px;
}
.p-gap-2{
    margin-bottom: 80px;
}
hr{
    height: 1px;
    background-color: #FFFFFF;
    opacity: 10%;
}

.icons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   justify-items: center;
   margin-top: 80px;
}

.icons-v{
    font-size: 3.75rem;
        font-weight: 800;
        color: #00FF88;
}

.icons div p {
    text-transform: uppercase;
    line-height: 20px;
    
}

.icons div {
    display: flex;
    
    justify-content: center;
    
    flex-direction: column;
    gap: 20px;
    
}

.fourth-section div{
    /* justify-content: center;
    text-align: center */
}
.cen{
    text-align: center;
}
.grid-contain{
   
   /* border: 2px solid green; */
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3,1fr);
   /* gap: 30px; */
   column-gap: 30px;

}

.big-contain{
    grid-row: span 2;
    
}
.medium-contain{
    grid-column: span 2;
}


/* .small-contain{
grid-column: span 1;
    
} */

.grid-icons{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
.a{
    padding:6.6875rem 2.5rem;
}

.b {
    padding: 2.5rem;
    
}

.c {
    margin-top: 30px;
}

.videos-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;
}
.video-description-contain{
    padding: 24px;
    
}
.vcard-child{
background-color: #250D44;
    border-radius: 0px 0px 24px 24px;
}
.clock{
    display: inline-flex;
    gap: 8px;
    margin-top: 12px;
}

.videos-card-child iframe {
    border-radius: 24px 24px 0px 0px;
}

.host-card-child {
    display: flex;
    padding: 40px;
    gap: 24px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.icon-contain{
    display: flex;
    
    gap:20px
}

.icon-bd{
    border: 1px solid   #533C72;
    display: flex;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.icon-bd a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.sixth-section-main-cild{
    display: flex;
    flex-direction: column;
    padding: 120px;
    justify-content: center;
    align-items: center;
}
.sixth-icons{
 display: inline-flex;
 gap: 40px;
 margin-top: 32px;
 margin-bottom: 32px;
}

.sixth-icons-child{
    display: inline-flex;
    gap: 10px;
    
}
.footer-bg{
    background-image: url(../assets/footer-bg.png);
}

.clock img {
    height: 20px;
    width: 20px;
}
a {
    text-decoration: none;
}
.sixth-icons-child img {
    height: 20px;
        width: 20px;    
}

.hide{
    display:none !important
}

@media screen and (max-width:576px) {
    /* .set-width{
        max-width: 576px;
    } */
   .first-section {
    padding: 20px;
   }
   .nchild-1-logo{
    width: 137px;
    height: 20px;
   }
   .nchile-2 {
    display: none;
   }
   .nchile-3 {
    display: none;
   }
   .nchild-4{
    display: block;
   }
   .second-section{
    padding: 0;
    background-size: cover;
        background-position: center 40%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
   .icons-v{
    font-size: 2.5rem;
   }
   .singing-card {
    width: 100%;
        max-width: 400px;
        margin: 40px 20px;
}
    .circle {
        width: 200px;
        height: 200px;
        
    }
    .microphone {
        width: 46px;
        height: 70px;
    }
     .new {
        top: 0px;
        right: 5px;
        
     }
     .des-h{
        font-size: 2.5rem;
        margin-bottom: 0px;
     }
    .singcard-des {
        margin-top: 24px;
        margin-bottom: 0px;
    }
    .m-heading{
        font-size: 2rem;
    }
    .padd{
        padding: 40px 20px;
    }
    .dbr{
        display: none;
    }
    .p-gap-1 {
        margin-bottom: 1rem;
    }
    .p-gap-2 {
        margin-bottom: 40px;
    }
     .icons {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            
            margin-top: 40px;
            
        }
    .icons-m {
        margin-bottom: 40px;
    }
    .about{
        padding:0px 20px;
    }
    .secondpadd, .thirdpadd{
        padding: 40px 20px 0px 20px;
    }
        .thirdpadd{
        padding: 0px 20px 40px 20px;
        margin: 0px;
        margin-top: 16px;
    }
    .grid-contain{
        padding:0px 20px;
        display: flex;
        flex-direction: column;
        
    }
    .big-contain{
        padding: 24px;
        margin-bottom: 16px;
    }
    .b{
        margin: 0px;
        padding: 24px;
    }
      .mb{
        margin-bottom: 16px;
      }
      .mf-22{
        font-size: 1.375rem;
      }
      .mf-20{
        font-size:1.25rem;
        margin-top: 0;
        margin-bottom:8px;
      }
      .mf-24{
        font-size:1.5rem ;
      }
      .video-description-contain{
        padding:16px
      }
    .videos-card{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 24px;
        margin-bottom: 60px;
    }
    .m-frame{
        width: 100%;
        height: 214px;
    }
    
    .host-card-child{
        margin: 24px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        padding: 24px;

    }
    .m-host-child{
        text-align: center;
        align-items: center;
    }
    .icon-contain{
        justify-content: center;
    }
    .sixth-section-main-cild{
        padding: 0;
        display: flex;
        
        
    }
    .sixth-section-main{
        /* padding: 40px 20px; */
    }
    .sixth-icons {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .sixth-icons-child{
        flex: 0 50%
        
        justify-content: center;
    }
    .m-footer-logo {
        height: 32px;
        width: 219px;
        margin-top: 40px;
    }
    .set-border{
        
        background-position: center;
        background-size: cover;
        /* padding: 40px 20px; */

    }
    .abc{
        background-color: #201143;
        height: 40px;
    }
}