/* global settings */

*{
    margin: 0;
    padding: 0;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* shared styles */
.flex {
    display: flex;
}

.set-width {
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background: linear-gradient(32deg, 
        #F7E93F 15%, #FB09B4 51%, #9100F8 100%);  
    border-radius: 100px;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    border: none;
    font-weight: 600;
}
.bg{
    background-color: #1A0B2E;

}



/* individual styles */

.first-section{
    
}
.navigation {
    /* border: 2px black solid; */
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 314px;
}

.nchile-2 ul{
    list-style-type: none;
    
}
.nchile-2 ul li a{
    text-decoration: none;
    color: white;
    
}
.gp {
    display: flex;
    gap: 5px;
}

.list   {
    gap: 32px;
}